---
import Layout from "../../layouts/Layout.astro";
import StoryTile from "../../components/CoNexus/storyTile.svelte"

const generalStories = ['Escape', 'Arena'];
const classStories = ['Assassin', 'Soldier', 'Spy', 'Engineer', 'Oracle', 'NeYon'];
const traitStories = ['Inception Ark'];

const arrow = true;
const storySection = 'DischordianSaga';
const subheading = `
The Dischordian Saga led to the creation of CoNexus and tells the epic narrative of wars between Artificial Intelligence and Humanity. Its story nodes, voted on by the Potentials NFT holders, evolve the lore and activate a new story within CoNexus each week.`;
---

<Layout title="Dischordian Saga | CoNexus" header="Dischordian Saga" {subheading} {arrow}>

  <section class="tiles-section">
    {generalStories.map((name) => (
      <StoryTile {storySection} storyName={name} />
    ))}
  </section>

  <section class="tiles-section">
    {classStories.map((name) => (
      <StoryTile {storySection} storyName={name} />
    ))}
  </section>

  <section class="tiles-section">
    {traitStories.map((name) => (
      <StoryTile {storySection} storyName={name} />
    ))}
  </section>

  
  <script>
    import addTilesListener from "../../components/CoNexus/listeners.js";
    addTilesListener('DischordianSaga');
  </script>

</Layout>