---
import { consoleButtons } from "./data/buttons.js"

const { storyNumber } = Astro.props;
---


<section class="bottom">
  <div class="console-buttons">
    {consoleButtons.map((button) => (
      <img src={button.image} data-name={button.id} class:list={['console-btn', button.size]} />
    ))}
  </div>
  <img src="/public/GovernanceHubAssets/console.avif" alt="Console" id="console"></img>
</section>


<script>
  const buttons:any = document.querySelectorAll('.console-btn');

  buttons.forEach((button:any) => {
    button.addEventListener('mouseenter', () => {
      button.src = `/public/GovernanceHubAssets/${button.dataset.name}-hover.png`;
    })
    button.addEventListener('mouseout', () => {
      button.src = `/public/GovernanceHubAssets/${button.dataset.name}.png`;
    })
    button.addEventListener('mousedown', () => {
      button.src = `/public/GovernanceHubAssets/${button.dataset.name}-active.png`;
    })
    button.addEventListener('mouseup', () => {
      button.src = `/public/GovernanceHubAssets/${button.dataset.name}-hover.png`;
    })
    button.addEventListener('touchstart', () => {
      button.src = `/public/GovernanceHubAssets/${button.dataset.name}-hover.png`;
    })
    button.addEventListener('touchend', () => {
      button.src = `/public/GovernanceHubAssets/${button.dataset.name}.png`;
    })
    button.addEventListener('click', () => {
      switch (button.dataset.name) {
        case 'conexus': 
          window.open('https://conexus.degenerousdao.com/', '_blank');
          break;
        case 'back': 
          if(storyNumber != 1) {
            activeEpisode(storyNumber - 2);
          }
          break;
        case 'omnihub': 
          //window.open();
          break;
        case 'forward':
          if(storyNumber != lastStoryNumber) {
            activeEpisode(storyNumber);
          }
          break;
        case 'sagaverse':
          window.open('https://degenerousdao.com/', '_blank');
          break;
      }
    })
  })

  // Inactive Omnihub button
  buttons[2].src = '/public/GovernanceHubAssets/omnihub-inactive.png';
  buttons[2].style.pointerEvents = 'none'
</script>


<style>
  .bottom {
    position: relative;
    display: block;
    margin-top: 25%;
  }

  .console-buttons {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 10;
  }

  #console {
    position: absolute;
    bottom: 0;
    z-index: -10;
  }

  .console-btn, .display-btn {
    cursor: pointer;
  }

  .big {
    width: 20%;
  }

  .small {
    width: 10%;
  }


  @media only screen and (max-width: 600px) {
    .big {
      width: 25%;
    }
    .small {
      width: 12.5%;
    }
  }
</style>